.new-thread-div {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
}

.new-thread-div p{
    font-size: 13px;
}

.plus-icon {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: grey;
}