
/* Buttons */
.threadButtons {
display: flex;
justify-content: space-between;
margin-bottom: 2rem;
}

.btn {
background-color: #ccc;
padding: .2rem .5rem;
border-radius: 3px;
border: 1px solid #707070;
font-size: .8rem;
color: #000000;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* __________________________________________________________________________________________ */

/* List of thread categories */
.threadCategory {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.threadCategory p {
margin-bottom: 2rem;
}

.threadCategory h3 {
margin-bottom: 0;
}

/* __________________________________________________________________________________________ */

/* Threads */
.categoryWrapper {
width: 100%;
border-bottom: 1px solid #ccc;
display: flex;
justify-content: center;
}

.threadWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 3rem;
}

.thread {
width: 100%;
text-decoration: none;
background-color: #f0f0f0;
border-bottom: 1px solid #ccc;
}

.card {
text-decoration: none;
text-align: center;
}

.card, a{
color: black;
}

.descriptionStyle {
position: relative;
Height: 95px;
overflow: hidden;
opacity: .7;
color: black;
}

/* __________________________________________________________________________________________ */

/* Thread content */
.threadTitle {
display: flex;
font-size: 2.5rem;
text-decoration: none;
margin: 2rem 0rem 2rem;
}

.threadDescription {
font-size: 1.5rem;
margin-bottom: 5rem;
}

.threadCreator {
margin: 0;
display: flex;
justify-content: flex-end;
color: #00000081;
}

.isAnswered {
    font-weight: 600;
    color: rgb(0, 121, 8);
}

/* __________________________________________________________________________________________ */

/* Add new thread */
.newThread{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
width: 100%;
}

.plus-icon {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 14px;
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
background-color: #ccc;
border: 1px solid #707070;
}

/* __________________________________________________________________________________________ */

/* Comments */

.noCommentsText{
    display: flex;
    justify-content: center;
}

.commentContentWrapper {
    display: flex;
}

.comment-card {
border: 1px solid #ccc;
margin: 0 0 1rem;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
background-color: #ffffff;
padding: .7rem 0rem .7rem;
}

.comment-card p {
margin: 8px 0;
}

.titleWrapper {
width: 100%;
background-color: #ffffff;
display: flex;
justify-content: center;
box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.274);
}

.commentForm {
border-top: 1px solid #ccc;
padding-top: 2rem;
}

/* __________________________________________________________________________________________ */

/* Comment content */
.commentContent {
font-size: 1.2rem;
display: flex;
align-items: center;
padding: .5rem 0rem 1rem;
}

.commentCreator{
display: flex;
justify-content: flex-end;
}