body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
     scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General global styles */
.wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
  
.content {
  padding: 0rem 20rem;
}
  
.content, a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  color: #00000081;
  margin-bottom: 1rem;
}
  
.center {
  display: flex;
  justify-content: center;
}
      
.even {
  background-color: #ffffff;
  border: 1px solid #ccc;
}
  
.odd {
  background-color: #f0f0f0;
}